@import "constants.scss";
@import "utils.scss";

.screen-ratio-provider {
	position: relative;
	width: 100%;
	padding-top: 0.7*200%;
}

.screen {
	position: absolute;
	display: flex;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $screenBg;
	border: 4px solid $borderColor;
	box-sizing: border-box;

	&__canvas {
		@include debug;
		width: 70%;
		min-width: 70%;
		box-sizing: border-box;

	}

	&__info {
		@include debug;
		width: 30%;
		padding: 25px 5px;
		display: flex;
		flex-direction: column;
		border-left: 4px solid $borderColor;
		box-sizing: border-box;
	}
}